// AcceptedPage and RejectedPage Style Start

.retry-timer {
	display: none;
}

.ending {
	align-items: center;
	background-color: $ending-bak-col;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.lose {
	background-color: $rejected-bak-col;
}

.accepted,
.rejected {
    animation: pulse 1s 4s 10; // infinite crashes my webpack //
	opacity: 0;
}

.rejected {
	animation: pulse 1s 0s 10;
}


.launch {
	animation: launch 6s ease-in;
	color: $icon-font-col;
	font-size: 180px;
	opacity: 0;
	position: absolute;
}

// AcceptedPage and RejectedPage Style End