// AcceptedPage and RejectedPage Style Start

.retry-timer {
	display: none;
}

.ending {
	align-items: center;
	background-color: $ending-bak-col;
	height: 100vh;
	justify-content: center;
	position: relative;
	width: 100%;
}

.lose {
	background-color: $rejected-bak-col;
}

.accepted,
.rejected {
	animation: pulse 1s 4s 10; // infinite crashes my webpack //
	opacity: 0;
}

.rejected {
	animation: pulse 1s 0s 10;
}

.launch-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	left: 0;
}

.launch {
	animation: launch 6s ease-in;
	color: $icon-font-col;
	opacity: 0;
}

// AcceptedPage and RejectedPage Style End