// Header Style Start

header {
	align-self: center;
	color: $icon-font-col;
	display: none; // flex;
	justify-content: center;
	max-width: 150px;
	min-width: 150px;

	@include tablet {
		display: flex;
	}

	h1 {
		left: 22px;
		position: absolute;
		top: 100px;
		transform: translateX(-75px) rotate(270deg);
	}
}


.planet {
	background-image: url('/build/assets/images/planet_mars.jpeg');
	background-size: cover;
	height: 98px;
	letter-spacing: 0.7rem;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
	width: 98px;
}

.fa-space-shuttle {
	font-size: 4rem;
	left: -12px;
	position: relative;
	top: 3px;
}

// Header Style End