// Mars-App HomePage and BeginPage Style Start

.mars-app-container {
	background-image: url('/build/assets/images/mars.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	font-size: 16px;
	height: 100vh;
	justify-content: center;
	flex: 1 0 80%;
}

.mars-app {
	width: 100%;
	align-self: center;
}

.flex {
	align-self: center;
	display: flex;
	justify-content: center;
}

// Mars-App HomePage and BeginPage Style End