// var and Mixin Start

$bold: 'open_sansbold';
$ending-bak-col: #66CC88;
$icon-font-col: #ffffff;
$light: 'open_sanslight';
$rejected-bak-col: firebrick;
$header-text-col: #EDF1F2;
$text-col: #969696;

$tablet-width: 640px;
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

// var and Mixin End